body {
  margin: 0;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #757575;
  background-color: white;
}

.navbar {
  height: 45px;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px -4px 11px 7px rgba(0, 0, 0, 0.07);
  box-shadow: 0px -4px 11px 7px rgba(0, 0, 0, 0.07);
  gap: 20px;
}

.navbar img {
  height: 50%;
  cursor: pointer;
}

.interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.interactions ion-icon {
  font-size: 15px;
  cursor: pointer;
}

.membership-btn {
  padding-block: 3px;
  padding-inline: 6px;
  border: 1px #323232 solid;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.account-btn {
  background-color: #f4511e;
  font-size: 10pt;
  border-radius: 50%;
  color: white;
  width: 23px;
  height: 23px;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

/* Corpo pagina */
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: initial;
}

/* Parte destra */
.news {
  width: 65%;
  height: fit-content;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.sections {
  width: 100%;
  height: 70px;
  display: flex;
  border-bottom: 1px #e6e6e6 solid;
  gap: 20px;
  font-size: 12px;
}

.sections div {
  height: 30%;
  margin-top: auto;
  padding-inline: 10px;
  cursor: pointer;
}

#bold-underline {
  color: #323232;
  border-bottom: 1px solid;
}

/* Inizio articolo */
.card-container {
  width: 100%;
  height: 170px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.author img {
  width: 20px;
  height: 20px;
}

.author div {
  margin: 0;
  font-size: 12px;
}

#bold {
  color: #323232;
  border-bottom: none;
}

.article-content {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content a {
  font-size: 14px;
  color: #757575;
  text-decoration: none;
}

#article-title {
  margin-block: 8px;
  font-size: 20px;
  color: #323232;
  font-weight: bold;
}

.article-content img {
  width: 200px;
  height: 125px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.list ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 0;
  color: #757575;
  font-weight: normal;
}

li {
  font-size: 12px;
}

ul #data {
  list-style: none;
}

ul #react {
  padding: 4px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.stat-btns {
  display: flex;
  font-size: 20px;
  margin-right: 20px;
  align-items: center;
}

.stat-btns ion-icon {
  padding: 5px;
}
/* Fine articolo */

.empty-space {
  width: 5%;
  max-width: 7%;
  border-right: 1px #e6e6e6 solid;
}

.social {
  width: 25%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#second-empty-space {
  border: none;
}

.twitter-connection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px #e6e6e6 solid;
  gap: 15px;
  align-items: center;
  padding-bottom: 20px;
}

.medium-twitter-container {
  width: 100%;
  height: 55px;
}

.description-social {
  text-align: center;
  font-size: 14px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 2px;
}

#mdm {
  width: 35px;
  height: 35px;
  color: #292929;
}

#plus {
  width: 15px;
  height: 15px;
}

#twtr {
  width: 20px;
  height: 20px;
  color: #349ff1;
}

.twtr-btn {
  display: flex;
  gap: 8px;
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 200px;
  border: 1px #323232 solid;
  background-color: transparent;
  justify-content: center;
  cursor: pointer;
}

.twtr-btn div {
  text-align: center;
}

.twitter-connection .description-social,
a {
  color: #757575;
  font-size: 12px;
}

.topics-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sub-titles {
  color: #292929;
  font-size: 12px;
  font-weight: bold;
}

.categories {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.categories button {
  font-size: 12px;
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 200px;
  border: none;
  background-color: #f2f2f2;
  color: #292929;
  cursor: pointer;
}

.guest {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guest img {
  width: 50px;
  height: 50px;
}

.name-job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.name-job div {
  font-size: 10px;
}

#name {
  font-size: 12px;
  font-weight: bolder;
  color: #292929;
}

.guest button {
  font-size: 12px;
  border-radius: 200px;
  border: 1px #909190 solid;
  padding: 8px;
  color: #363736;
  background-color: transparent;
}

.follow-suggest-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recently-saved-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.saved-article {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#link {
  color: #69ad64;
  text-decoration: none;
}

.end-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
}

.end-options button {
  border: none;
  background-color: transparent;
  color: #757575;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
}
